exclude CHANGELOG.md CONTRIBUTING.md DEPENDENCIES.md flake.* .gitignore .gitattributes justfile MANIFEST.in *.mjs package.json pins.toml uv.lock *.yaml *.yml
prune docs
prune .github
prune packaging
prune tests
